<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offer Creation</title>
</head>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<body ng-app="offerCreationApp" ng-cloak>
	<div class="wrapper" ng-controller="offerCreationController">
		<div class="title">Offer Creation System</div>
		<div>
			<form class="form-group row" name="form">
				<div class="col-lg-4  col-sm-6 left">
					<label class="col-lg-4  col-sm-6 col-form-label"
						style="text-align: center;">Offer Id to mirror:</label>
					<div class="col-lg-6 col-sm-6 right">
						<input type="text" name="inputOfferId" class="form-control"
							ng-model="id" valid-number required /> <span class="error"
							ng-show="(form.inputOfferId.$dirty || submitted) && form.inputOfferId.$error.required">
							Numeric Offer Id is required </span>
					</div>
				</div>
				<div class=" col-lg-4  col-sm-6 left">
					<label class="col-lg-4  col-sm-6 col-form-label">Ticket
						Number </label>
					<div class="col-lg-6 col-sm-6 right">
						<input type="text" class="form-control" ng-model="ticketNo">
					</div>
				</div>
				<div class="col-lg-2 col-lg-offset-1 col-sm-12">
					<button class="btn-info" ng-click="fetchDetails()">Populate
						Values</button>
				</div>
				<div class="col-lg-2 col-sm-12 left" ng-show="showValue">
					<button class="btn-info" ng-click="cloneOffer()">Clone
						Offer</button>
				</div>
			</form>
		</div>

		<loading-bar ng-show="showLoading"></loading-bar>
		<div class="{{messageClass}}" ng-if="message">{{message}}</div>
		
		
		<div class="col-sm-12" ng-show="showValue">
			<div class="box col-sm-8 col-sm-offset-2">
				<div class="box-header">
					<h3 class="box-title">Template Fields</h3>
				</div>
				<div class="box-body">
					<div ng-repeat="field in templateFields">
						<div class="row" ng-if="field.type=='offer'">
							<div class="col-sm-6 text-left">{{field.name}}</div>
							<div class="col-sm-6 right">
								<input class="col-sm-12"
									ng-model="offerDetails['offer'][field.model]"
									value="field.model"></input>
							</div>
						</div>
						<div class="row" ng-if="field.type=='productFamily'">
							<div class="col-sm-6 text-left">{{field.name}}</div>
							<div class="col-sm-6 right">
								<input class="col-sm-12"
									ng-model="offerDetails['productFamilyOffer'][0][field.model]"
									value="field.model"></input>
							</div>
						</div>
						<div class="row" ng-if="field.type=='hasMarginPercents'">
							<div class="col-sm-6 text-left">{{field.name}}</div>
							<div class="col-sm-6 right">
								<input class="col-sm-12"
									ng-model="offerDetails['hasMarginPercents'][0][field.model]"
									value="field.model"></input>
							</div>
						</div>
					</div>
				</div>
				<div class="box-footer"></div>
			</div>

			<div class="box col-sm-8 col-sm-offset-2">
				<div class="box-header">
					<h3 class="box-title">Extra Table Fields</h3>
				</div>
				<div class="box-body">
					<div class="row">

						<div class="tab" ng-init="showFields=false"
							ng-class="{'tab-selected':selectedTable == key}"
							ng-repeat="(key,value) in offerDetails"
							ng-mouseenter="hovered=true" ng-mouseleave="hovered=false">
							<div class="tab-title" ng-click="showFields=!showFields">
								<span
									ng-class="{'back-highlight':value && (!isArray(value) || value.length>0)}">
									<span ng-if="!showFields && value && (!isArray(value) || value.length>0)">[+]</span>
									<span ng-if="showFields && value && (!isArray(value) || value.length>0)">[-]</span>
									{{key}}
								</span>
								<div class="right">
									<span ng-if="hovered" ng-click="addRow(key,value);">Add
										New Row</span>
								</div>
							</div>
							<div>
								<div ng-if="!isArray(value)" ng-show="showFields">
									<div class="row" ng-show="blocked.indexOf(name)==-1"
										ng-repeat="(name,val) in value track by $index">
										<div class="col-sm-4 text-left left pad-left ">{{name}}</div>
										<div class="col-sm-8 right">
											<input style="width: 80%" type="text"
												ng-model="offerDetails['offer'][name]" value="{{val}}"></input>
										</div>
									</div>
								</div>
								<div ng-if="isArray(value) && !value.length"
									ng-show="showFields"></div>

								<div ng-if="isArray(value)" ng-repeat="row in value"
									ng-show="showFields">
									<div class="remove-link" ng-click="removeRow(value,$index)">
										Delete</div>
									<div class="table-row">
										<div class="col-sm-12"
											style="display: inline-block; text-align: left"
											ng-repeat="(name,val) in row track by $index"
											ng-show="blocked.indexOf(name)==-1">

											<div class="col-sm-4 text-left left pad-left">{{name}}</div>
											<div class="col-sm-7 right">
												<input style="width: 80%" type="text"
													ng-model="offerDetails[key][$parent.$index][name]"
													value="{{val}}"></input>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="box-footer"></div>
			</div>

		</div>

	</div>
</body>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/offerCreationController.js"></script>
<script src="js/offerService.js"></script>
<script src="js/models.js"></script>
</html>