<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Offer Creation</title>
</head>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<body ng-app="offerCreationApp">
	<div class="wrapper row" ng-controller="offerCreationController">
		<div class="title">Offer Creation System </div>
		<div class="col-sm-12">
			<div class="form-group row">

				<label class="col-lg-4  col-sm-6 col-form-label">Offer Id </label>
				<div class="col-lg-4 col-sm-6">
					<input type="text" class="form-control" ng-model="id">
				</div>
				<div class="col-lg-2 col-sm-12">
					<button class="btn-info" ng-click="fetchDetails()">Populate
						values</button>
				</div>
				<div class="col-lg-2 col-sm-12">
					<button class="btn-info" ng-click="cloneOffer()">Clone
						Offer</button>
				</div>
			</div>

		</div>
		<div class="col-sm-12">
			<div class="box col-sm-12 col-sm-offset-1 left">
				<div class="box-header ">
					<h3 class="box-title">Template Fields</h3>
				</div>
				<div class="box-body ">
					<div ng-repeat="field in templateFields">
							<div class="row" ng-if="field.type=='offer'" >
							<div class=" col-sm-4 text-left">{{field.name}}</div>
							<div class=" col-sm-7">
								<input class="col-sm-8"
									ng-model="offerDetails['offer'][field.model]"
									value="field.model"></input>
							</div>
						  </div>
						<div class="row"  ng-if="field.type=='productFamily'" >
							<div class=" col-sm-4 text-left">{{field.name}}</div>
							<div class=" col-sm-7">
								<input class="col-sm-8"
									ng-model="offerDetails['productFamilyOffer'][0][field.model]"
									value="field.model"></input>
							</div>
						</div>
					</div>
				</div>
				<div class="box-footer"></div>
			</div>
			<div class="box col-sm-12 col-sm-offset-1 left">
				<div class="box-header ">
					<h3 class="box-title">Extra Table Fields</h3>
				</div>
				<div class="box-body">
					<div class="row">

						<div class="tab" ng-init="showFields=false"
							ng-class="{'tab-selected':selectedTable == key}"
							ng-repeat="(key,value) in offerDetails">
							<div class="tab-title" ng-click="showFields=!showFields">
								{{key}} <span
									ng-if="value && (!isArray(value) || value.length>0)"
									class="right"> + </span>
							</div>
							<div>
							<div ng-if="!isArray(value)" ng-show="showFields">
							<div  class="row" ng-show="blocked.indexOf(name)==-1" ng-repeat="(name,val) in value track by $index" >
											<div class="col-sm-3 left">{{name}}</div>
											<div class="col-sm-8 right">
												<input type="text"
													ng-model="offerDetails['offer'][name]"
													value="{{val}}"></input>
											</div>
								</div>
							</div>
								<div ng-if="isArray(value)" ng-repeat="row in value" ng-show="showFields">
									<div class="table-row">
										<div class="col-sm-12"
											style="display: inline-block; text-align: left"
											ng-repeat="(name,val) in row track by $index"
											ng-show="blocked.indexOf(name)==-1">

											<div class="col-sm-3 left">{{name}}</div>
											<div class="col-sm-8 right">
												<input type="text"
													ng-model="offerDetails[key][$parent.$index][name]"
													value="{{val}}"></input>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="box-footer"></div>
			</div>

		</div>

	</div>
</body>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/offerCreationController.js"></script>
<script src="js/offerService.js"></script>
</html>